html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: row;
    background-color: rgb(116, 17, 127);
}
#movie-con {
    height: 100%;
    width: 70%;
    background-color: #1B0E2B;
    background: linear-gradient(135deg, #1B0E2B, #2B164D);
}
#maintance-con {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 30%;
    background-color: rgb(116, 17, 127);
    text-shadow: 1px 1px rgb(67, 67, 67);
    background: linear-gradient(135deg, #1B0E2B, #2B164D);
}
.buy-field {
    height: 25%;
    width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E1435;
    color: rgb(114, 9, 116);
    border-radius: 15px;
    border: 2px solid #6D2A73;
    border-radius: 25px;
} 
#list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
}
#row-container {
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
}
h2 {
    font-size: 40px;
    background-color: rgb(91, 6, 90);
    color: #FFD369;
}
#book {
    display: flex;              
    justify-content: center; 
    align-items: center;
    height: 40px;
    width: 70px;
    background-color: #FFD369;
    color: #1B0E2B;
    filter: brightness(1.2);
    text-shadow: 1px 1px rgb(67, 67, 67);
    border-radius: 25px;
    margin-top: 3px;
    font-size: 20px;
}
#book:hover {
    transform: scale(1.08);
}
label {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 2px;
    color: #E0D7FF;
}
input {
    height: 40px;
    width: 35px;
    text-shadow: 1px 1px rgba(67, 67, 67, 0.602);
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border: 1px inset #FFD369;
    background-color: #2B1E40;
    color: #E0D7FF;
}
button {
    background-color: rgb(215, 141, 13);
    font-size: 20px;
    margin-bottom: 5px;
    margin: 15px;
    display: flex;
    flex-direction: row;
}
#movie-output {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 60%;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
    font-size: 28px;
    color: #A782C3
}
#movies-buttons {
    height: 200px;
    width: 97%;
}
.movie-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E1435;
    color: rgb(114, 9, 116);
    border-radius: 15px;
    border: 2px solid #6D2A73;
    filter: brightness(1.2);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 20px;
    width: 60%;
    height: 85%;
    cursor: pointer;
}
.movie-block:hover {
    transform: scale(1.03);
}
#moviename-output {
    font-size: 30px;
    color: #FFD369;
    margin-top: 40px;
}
#movies-pictures {
    font-size: 50px;
}
.inf-to-movie {
    font-size: 20px;
    color: #E0D7FF
}
.inf-in-movie-block {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 60px;
    color: #A782C3
}