html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: row;
    background-color: rgb(116, 17, 127);
}
#movie-con {
    height: 100%;
    width: 70%;
    background-color: rgb(56, 4, 61);
}
#maintance-con {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 30%;
    background-color: rgb(116, 17, 127);
    text-shadow: 1px 1px rgb(67, 67, 67);
}
.buy-field {
    height: 25%;
    width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(203, 69, 129);
    text-align: center;
    color:  rgb(114, 9, 116);
    box-shadow: 7px 10px rgb(63, 61, 61);
    border-radius: 25px;
} 
#list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
}
#row-container {
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
}
h2 {
    font-size: 40px;
    background-color: rgb(91, 6, 90);
    color: #f88d00;
}
#book {
    height: 40px;
    width: 70px;
    background-color: rgb(9, 220, 125);
    text-shadow: 1px 1px rgb(67, 67, 67);
    border-radius: 25px;
    margin-top: 3px;
    font-size: 20px;
}
label {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 2px;
    color: rgb(91, 6, 90);
}
input {
    height: 40px;
    width: 35px;
    text-shadow: 1px 1px rgba(67, 67, 67, 0.602);
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border: 1px inset #ccc;
}
button {
    background-color: rgb(215, 141, 13);
    font-size: 20px;
    margin-bottom: 5px;
    margin: 15px;
    display: flex;
    flex-direction: row;
}
#movie-output {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 40%;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
    font-size: 25px;
    color: aquamarine;
}
#movies-buttons {
    height: 200px;
    width: 97%;
}
.movie-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(203, 69, 129);
    color: rgb(114, 9, 116);
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    width: 60%;
    height: 85%;
    cursor: pointer;
}
#moviename-output {
    font-size: 40px;
    color: yellow;
    margin-top: 40px;
}
#movies-pictures {
    font-size: 50px;
}


