<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a movie</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="movie-con"></div>
    <div id="maintance-con">
        <div class="buy-cancel">
            <h2>Buy tickets</h2>
            <label for="fname">Amount:</label>
            <input type="text" name="fname"><br>
            <button type="button">Book</button>
        </div>
        <div class="buy-cancel" id="cancel">
            <h2>Cancel tickets</h2>
            <label for="fname">Amount:</label>
            <input type="text" name="fname"><br>
            <button type="button">Cancel</button>
        </div>
    </div>
</body>
</html>